:root { 
    --royal: #3E64FF;
    --gray: #5F6769;
    --teal: #5EDFFF;
    --softgray: #E6f8f9;
    --black: #3C4245;
    --purple: #5D1451;
    --orange: #FF4D00;

    --font-one: 'Roboto-Condensed' 
}


